<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>考次设置</title>
    <!--    引入bootstrap核心css-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <!--    引入jqgrid核心css-->
    <link rel="stylesheet" href="css/ui.jqgrid-bootstrap.css">
    <!--    引入jqeury核心js-->
    <script src="js/jquery-2.0.3.min.js"></script>
    <!--    引入jqgrid国际化js-->
    <script src="js/i18n/grid.locale-cn.js"></script>
    <!--    引入bootstrap核心js-->
    <script src="js/bootstrap.min.js"></script>
    <!--    引入jqgrid核心js-->
    <script src="js/jquery.jqGrid.min.js"></script>
</head>

<body>
<div>
    <div>
        <h1>
            考次设置
        </h1>
    </div>
    <!--考次表格-->
    <table id="exam-table"></table>
    <div id="pager"></div>
</div>
<script>
    $(function () {
        //    初始化表格
        $("#exam-table").jqGrid({
            styleUI: "Bootstrap",
            url: "http://localhost:8080/examSetting",
            datatype: "json",
            mtype: "POST",
            editurl: "",
            colNames: ["考次编号", "是否为当前考次", "是否过期"],//用来指定表格中标题列的名称
            colModel: [
                {name: "examName", align: "center", editable: true},
                {
                    name: "isUsed",
                    formatter: function (cellvalue, options, rowObject) {

                        if (cellvalue == 1) {
                            return "是";
                        } else {
                            return "否";
                        }
                    },
                    align: "center",
                    editable: true,
                    edittype: "select",
                    editoptions: {
                        value: "1:是; 0:否"

                    }
                },
                {
                    name: "isNow",
                    align: "center",
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == 1) {
                            return "是";
                        } else {
                            return "否";
                        }
                    },
                    editable: true,
                },
            ],
            pager: "#pager",//用来定义分页工具栏
            viewrecords: true,//展示总条数
            rowNum: 5,//每页显示多少条
            caption: "考次设置",
            hidegrid: false,
            autowidth: true,//自适应父容器
            height: 350,
        }).navGrid("#pager");//加入快速编辑
        // 参数1：编辑按钮的位置
        // 参数2：展示编辑的配置对象
        // 参数3：代表对编辑页面的配置
        // 参数4：添加面板的配置
        // 参数5：删除面板的配置
        // 参数6：搜索面板的配置
        // 参数7：刷新的配置
    });
</script>
</body>
</html>
