<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam11.devel.cj.mapper.ExamInfoMapper">
    <select id="selectExamInfoList" resultType="com.exam11.devel.cj.bean.ExamInfo">
        select *
        from exam_info;
    </select>
    <select id="findAll" resultType="com.exam11.devel.cj.bean.ExamInfo">
        select *
        from exam_info
        limit #{start}, #{rows};
    </select>
    <select id="findTotals" resultType="Long">
        select count(exam_id)
        from exam_info;
    </select>

</mapper>